apiVersion: apps/v1beta2 
kind: Deployment
metadata:
  name: hello-deployment
spec:
  replicas: 3
  selector:
    matchLabels:
      app: helloworld-deployment
  template:
    metadata:
      labels:
        app: helloworld-deployment
    spec:
      containers:
      - name: my-pod
        image: zxcvbnius/docker-demo:latest
        ports:
        - containerPort: 3000
---
apiVersion: v1
kind: Service
metadata:
  name: helloworld-service
  namespace: default
spec:
  type: NodePort
  ports:
  - port: 80
    targetPort: 3000
  selector:
    app: helloworld-deployment
